
.mainWrapper {
    display: block;
    height:   100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #f2f9ff;
    height: 100%;
}

.mainTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* padding: 20px 0; */
    background-color: #0f4865
;
    color: white;
    min-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.routesBlock {
    /* display: grid;
    grid-template-columns: 1fr; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: block;
    background-color: white;
    width: 80%;
    margin-top: 20px;
    /* padding: 20px; */
    border: #34A2AA solid 1px;

}

.routes {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
    /* align-items: center; */
    grid-template-columns: 1fr;
    font-size: 1.3rem;
 
}

.routesTitle {
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #34A2AA;
    
}

.routesSubtitle {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e2e2e2;
    color: #202020;
    border-top: dotted 2px white;
}

.recordBlock {
    width: 100%;
    padding: 10px 20px 5px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.mainList {
    width: 100%;
    padding: 10px 20px 30px;
    display: grid;
    grid-template-columns: 100%;
}

.routesSubtitleEndpoint {
    /* display: block;
    width: 40%; */
    padding-left: 30px;

}

.routesSubtitleDescription {
    /* display: block;
    width: 50%; */
    padding-left: 15px;
}

.routesList {
    /*display: grid;*/
    /*grid-template-columns: 40% 60%;*/
    
}

.listRow {
display: flex;
}

.routesEndpoint {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dotted #34A2AA;
    padding-left: 10px;
    /*box-sizing: border-box;*/
    /*width: 40%;*/
}

.routesDescription {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dotted #34A2AA;
    padding-left: 10px;
    margin-left: 2px;
}

.recordItem {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 2px;
    border-bottom: 2px dotted #34A2AA;
}

.routesRemark {
    font-family: "Comic Sans MS";
    font-size: 1.2rem;
    font-style: italic;
    color: #808080;
    padding-top: 20px;
    /*padding-bottom: 10px;*/
}

.filterWhite {
    filter: invert(100%) sepia(61%) saturate(6%) hue-rotate(184deg) brightness(110%) contrast(101%);
    width: 80px;
    height: 24px;
}

.mainLink {
    padding-top: 20px;
}